<h1>Assets</h1>

<p>Enter the list of all your assets.</p>

<dx-data-grid id="gridContainer"
              [dataSource]="dataSource"
              [allowColumnReordering]="true"
              (onEditingStart)="logEvent('EditingStart')"
              (onInitNewRow)="logEvent('InitNewRow')"
              (onRowInserting)="logEvent('RowInserting')"
              (onRowInserted)="logEvent('RowInserted')"
              (onRowUpdating)="logEvent('RowUpdating')"
              (onRowUpdated)="logEvent('RowUpdated')"
              (onRowRemoving)="logEvent('RowRemoving')"
              (onRowRemoved)="logEvent('RowRemoved')">

    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-editing mode="row"
                 [allowUpdating]="true"
                 [allowDeleting]="true"
                 [allowAdding]="true">
    </dxo-editing>

    <dxi-column dataField="Type">
        <dxo-lookup [dataSource]="assetTypes"
                    displayExpr="Name"
                    valueExpr="ID">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="Symbol"></dxi-column>
    <dxi-column dataField="Unit Value"></dxi-column>
    <dxi-column dataField="Quantity"></dxi-column>
</dx-data-grid>